{% extends 'base.html' %}

{% block title %} Sobre el sistema {% endblock %}

{% block content %}
	<h3>Sobre el autor</h3>
	<p>
		Este sistema fue desarrollado por <a style="font-weight: bold;" href="http://d3f0.blogspot.com/">Nahuel Defossé</a> durante entre el 2008-2009 para la
		<a href="http://www.unp.edu.ar">UNPSJB</a>.</p>
	<h3>Licencia</h3>
	<p>
		Este sistema se encuentra bajo la licencia GPL v.2.
		Los repositorios de trabajo Mercurial se encuentran en <b>bitbucket</b>.
	</p>
	<p>
		El código se encuentra disponible en <b>bitbucket.org</b> en un repositorio <a href="http://www.selenic.com/mercurial/wiki/">Mercurial</a>:
<pre>
	http://bitbucket.org/D3f0/gaviota
	http://bitbucket.org/D3f0/descom
</pre>
	
	</p>
{% endblock %}